.commentInput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #EFF3F4;
  padding-left: 32px;
  position: relative;
  padding-bottom: 10px;
}

.textArea {
  padding: 5px;
  resize: none;
  width: 70%;
  margin-left: 10px;
  height: 70px;
  border-left: 1px;
  padding-right: 80px;
  border-bottom: 1px solid black;
}


.textArea:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
}

.profile {
  margin-right: 10px;
  width: 42px;
  height: 42px;
}

.commentButton {
  margin: auto 10px;
  right: 27px; /* .TextArea의 오른쪽에 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: black;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}